<h5>Thanks for waiting at <br><%= @restaurant.name %>!</h5>
<h5><%= @party.name %> Party <h5>

<h3 class="people-ahead-2">There are</h3>
  <h3 id="people-ahead"><%= @people_ahead %></h3>
<h3 class="people-ahead-2">parties ahead of you.</h3>
<br>
  <div id="blurb">
    Want to pass the time? Battle another waiting party in a round of trivia to win points.
  </div>
    <% if @prize != nil %>
      <p class="prize-progress"> <span class="embolden"><%= @party_points %> pts </span>earned! <%= @points_needed %>  more needed to win a <span class="embolden">FREE <%=@prize.prize_name  %></span></p>
    <% else %>
      <p class="prize-progress"> <span class="embolden"><%= @party_points %> pts </span>earned!
    <% end %>
<br>

<%= link_to "PLAY", restaurant_waitingroom_path(@restaurant),class: "waves-effect waves-light btn-large btn-party" %>

<%= link_to "Leaderboard", leaderboard_path(@restaurant),class: "waves-effect waves-light btn-large btn-party" %>
