<h1>WAITR</h1>

You are logged in as: <h2><%= @restaurant.name %></h2>

<h3>Current Promotion </h3>
<<<<<<< HEAD
<% if @restaurant.prize != nil %>
  <h4> <%= @restaurant.prize.prize_name %> - <%= @restaurant.prize.points_needed %></h4><br>
<% else %>
  <h4>No current promo!</h4><br>
  <%= link_to "Create Prize", new_restaurant_prize_path(@restaurant) %>
<% end %>
=======

>>>>>>> master


<table class="waiting_list">
  <tr>
    <th> Name </th>
    <th> Party Size </th>
    <th> Phone# </th>
    <th> Points </th>
    <th> Wait Time </th>
  </tr>
  <% @waiting_parties.each do |party| %>
    <tr>
        <td><%= link_to party.name, edit_restaurant_party_path(@restaurant, party),  :confirm => "Are you sure?" %></td>
        <td><%= party.size %></td>
        <td><%= party.cell %></td>
        <td><%= party.points_earned %></td>
        <td><%= party.created_at %></td>
    </tr>
  <% end %>
</table>

