<h1>WAITR</h1>

You are logged in as: <h2><%= @restaurant.name %></h2>

<h3>Current Promotion </h3>

<% if @prize != nil %>
  <h4> <%= @prize.prize_name %> - <%= @prize.points_needed %></h4><br>
  <%= link_to "Change", edit_restaurant_prize_path(@restaurant) %>
<% else %>
  <h4>No current promo!</h4><br>
  <%= link_to "Add", new_restaurant_prize_path(@restaurant) %>
<% end %>
<br><br>
<%= link_to "ADD PARTY", new_restaurant_party_path(@restaurant) %>


<table class="waiting_list">
  <tr>
    <th> Name </th>
    <th> Party Size </th>
    <th> Cell Phone </th>
    <th> Points </th>
    <th> Time Waiting </th>
  </tr>
  <% @waiting_list.each do |party| %>
    <tr>
        <td><%= link_to party.name, edit_restaurant_party_path(@restaurant, party),  :confirm => "Are you sure?" %></td>
        <td><%= party.size %></td>
        <td><%= party.formatted_cell %></td>
        <td><%= party.points_earned %></td>
        <td><%= party.elapsed %></td>
    </tr>
  <% end %>
</table>

