<h1>WAITR</h1>

<h2><%= @restaurant.name %></h2>

<h3>Current Promotion </h3> 

<p> Add customers to waiting list
<%= button_to "ADD", new_restaurant_party_path(@restaurant, @waiting_list), method: :get %> </p>



<table class="waiting_list">
  <tr>
    <th> Name </th>
    <th> Party Size </th>
    <th> Phone# </th>
    <th> Points </th>
    <th> Wait Time </th>
  </tr>
  <% @waiting_list.each do |party| %>
    <tr>
        <td><%= link_to party.name, edit_restaurant_party_path(@restaurant, party),  data: { confirm: "Would you like to remove party from waiting list?" } %></td>
        <td><%= party.size %></td>
        <td><%= party.cell %></td>
        <td><%= party.points_earned %></td>
        <td><%= party.created_at %></td>
    </tr>
  <% end %>
</table>

