You are logged in as: <%= @restaurant.name %>
  <div class="prize-header">
    <h3>Current Promotion </h3>
    <% if @prize != nil %>
      <h4 class="promo"> <%= @prize.prize_name %> - <%= @prize.points_needed %></h4><br>  
      <a class="waves-effect waves-light btn btn-promo" href="<%= edit_restaurant_prize_path(restaurant_id: @restaurant.id, id: @prize.id) %>">Change Promo</a>
    <% else %>
      <h4 class="promo">No current promo!</h4><br>
      <a class="waves-effect waves-light btn btn-promo" href="<%= new_restaurant_prize_path(restaurant_id: @restaurant.id) %>">+ Add Promo</a>
  <% end %>
</div>

<div>
  <% if @error %>
    <%= @error %>
  <% end %>
</div>


<div class="add-party-button">
  <a class="waves-effect waves-light btn large btn-promo" href="<%= new_restaurant_party_path(@restaurant) %>">+ Add Party</a>

</div>

<div class="party-table">
  <table class="waiting_list bordered centered">
    <thead>
      <tr>
        <th data-field="name"> Name </th>
        <th data-field="name">Party Size </th>
        <th data-field="name"> Cell Phone </th>
        <th data-field="name"> Points </th>
        <th data-field="name"> Time Waiting </th>
      </tr>
    </thead>
    <tbody>
      <% i = 1 %>
      <% @waiting_list.each do |party| %>
      <tr id="<%= i %>">
        <td><%= link_to party.name, edit_restaurant_party_path(@restaurant, party),  data: { confirm: "Would you like to remove party from waiting list?" } %></td>
        <td><%= party.size %></td>
        <td><%= party.formatted_cell %></td>
        <td class="points-earned"><%= party.points_earned %></td>
        <td class="elapsed <%= i %>"><%= party.elapsed %></td>
      </tr>
      <% i+=1 %>
      <% end %>
      <tbody>
      </table>
    </div>
