<div id="loggedinas" class="top">
  <div>
    You are logged in as: <%= @restaurant.name %>
  </div>
</div>

  <div class="prize-header top">
    Current Promotion:
    <% if @prize != nil %>
      <%= @prize.prize_name %> - <%= @prize.points_needed %> points
      <a class="waves-effect waves-light btn promo" href="<%= edit_restaurant_prize_path(restaurant_id: @restaurant.id, id: @prize.id) %>">Change</a>
    <% else %>
      None
      <a class="waves-effect waves-light btn promo" href="<%= new_restaurant_prize_path(restaurant_id: @restaurant.id) %>">+ Add Promo</a>
    <% end %>
  </div>
<br><br>
<div>
  <% if @error %>
    <%= @error %>
  <% end %>
</div>


<div class="add-party-button">
  <a class="waves-effect waves-light btn large btn-promo" href="<%= new_restaurant_party_path(@restaurant) %>">+ Add Party</a>

</div>

<div class="party-table">
  <table class="waiting_list bordered centered">
    <thead>
      <tr>
        <th data-field="name"> Name </th>
        <th data-field="name"> Party Size </th>
        <th data-field="name"> Cell Phone </th>
        <th data-field="name"> Points </th>
        <th data-field="name"> Time Waiting </th>
      </tr>
    </thead>
    <tbody>
      <% i = 1 %>
      <% @waiting_list.each do |party| %>
      <tr>
        <td><%= link_to party.name, edit_restaurant_party_path(@restaurant, party),  data: { confirm: "Would you like to remove party from waiting list?" } %></td>
        <td><%= party.size %></td>
        <td><%= party.formatted_cell %></td>
        <td id="points<%= i %>"><%= party.points_earned %></td>
        <td id="elapsed<%= i %>"><%= party.elapsed %></td>
      </tr>
      <% i+=1 %>
      <% end %>
      <tbody>
      </table>
    </div>

<script>
$(function() {
  setInterval(update_times_and_scores, 1000);
})
</script>
