<h1>Change Current Promo edit</h1>

<%= form_for [@restaurant, @prize] do |f| %>
  <p>
    <%= f.label :prize_name %>
    <%= f.text_field :prize_name %>
  </p>

   <p>
    <%= f.label :points_needed %>
    <%= f.text_field :points_needed %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<form>

</form>

