<h1>New Prize</h1>

<%= form_for :prize, url: restaurant_prizes_path(:prize) do |f| %>
  <p>
    <%= f.label :prize_name %>
    <%= f.text_field :prize_name %>
  </p>

   <p>
    <%= f.label :points_needed %>
    <%= f.text_field :points_needed %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
