<h4>Change Current Promo</h4>

<%= form_for [@restaurant, @prize] do |f| %>
  <p>
    <%= f.label :prize_name %>
    <%= f.text_field :prize_name %>
  </p>

   <p>
    <%= f.label :points_needed %>
    <%= f.text_field :points_needed %>
  </p>

  <p>
    <%= f.submit "Change Promo", class: "btn waves-effect waves-light"  %>
  </p>

<% end %>

<form>

</form>

