<h4>Add Promo</h4>

<%= form_for :prize, url: restaurant_prizes_path do |f| %>
  <p>
    <%= f.label :prize_name %>
    <%= f.text_field :prize_name %>
  </p>

   <p>
    <%= f.label :points_needed %>
    <%= f.text_field :points_needed %>
  </p>

  <p>
    <%= f.submit "Add Promo", class: "btn waves-effect waves-light"  %>
  </p>

<% end %>
